<!DOCTYPE html>
<html>
	<%- include('./partials/head.ejs') %>
	<body>
		<div>
			<%- include('./partials/nav.ejs') %>
			<div class="main-style content">
				<div id="chart"></div>
				<form action="/users/renderUserData" method="get">
					<label for="user">Change user:</label>
					<input type="text" id="userId" required name="userId" />
					<button id="getDataButton">Get data</button><br />
				</form>
			</div>
			<%- include('./partials/foot.ejs') %>
		</div>
	</body>
	<script>
		var data = <%- JSON.stringify(chartData) %>
		TESTER = document.getElementById('chart');
		Plotly.newPlot( TESTER, data, {
		margin: { t: 0 } } );
	</script>
</html>
