<!DOCTYPE html>
<html>
	<%- include('./partials/head.ejs')  %> 
	<body>
		<div >
			<%- include('./partials/title.ejs')  %> 
			<div class="create-blog content">
				<form>
					<label for="user">User name:</label>
					<input type="text" id="user" required />
					<label for="description">Task description:</label>
					<input type="text" id="description" required /></form><br>
					<button >Start</button>
					<button>Stop</button><br>
				</form>
			</div>
			<%- include('./partials/foot.ejs')  %> 
		</div>
	</body>
</html>
