<!DOCTYPE html>
<html>
	<%- include('./partials/head.ejs') %>
	<body>
		<div>
			<%- include('./partials/nav.ejs') %>
			<div class="main-style content">
				<h3>Send commands</h3>
				<form action="/users/setUserData" method="post">
					<label for="userId">User name:</label>
					<input type="text" id="userId" required name="userId" />
					<label for="description">Task description:</label>
					<input type="text" id="description" required name="description" /><br />
					<label for="command">Task command:</label>
					<input type="text" list="commandsList" id="command" required name="command" /><br />
					<datalist id="commandsList">
						<option value="startUser"></option>
						<option value="stopUser"></option>
					</datalist>
					<button id="submit">Send command</button><br />
				</form>
				<h3>Get data</h3>
				<form action="/users/getUserData" method="get">
					<label for="user">User name:</label>
					<input type="text" id="userId" required name="userId" />
					<button id="getUserData">Get data</button><br />
				</form>
				<h3>Render data</h3>
				<form action="/users/renderUserData" method="get">
					<label for="user">User name:</label>
					<input type="text" id="userId" required name="userId" />
					<button id="renderUserData">Render data</button><br />
				</form>
			</div>
			<%- include('./partials/foot.ejs') %>
		</div>
	</body>
</html>
