<nav>
	<div class="site-title">
		<li><a href="/RecruitmentTask1">Recruitment Task 1</a></li>
	</div>
	<div class="site-title">
		<li><a href="/EnergyCounter">Energy Counter</a></li>
	</div>
	<ul>
		<li><a href="/docs">docs</a></li>
	</ul>
</nav>
